
// VARIABLES

$regular: "poppins regular";

.header{display: flex; justify-content: space-between; align-items: center; position: absolute; width: 100%;

    .ham{position: relative; z-index: 998;
        .slide{position: absolute; right: 0; font-size: 30px;  opacity: 0;}
    }

    .ham:hover{
        .slide{right: 50px; opacity: 1; transition: 1s;}
    }
    .stayopen{
        .slide{right: 50px; opacity: 1; transition: 1s; color: white;}
    }

    .menu{background-color: #1D809F; position: absolute; top: 0; width: 100%; left: -100vw; opacity: 0; transition: .4s ease; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; z-index: 997;  height: 100vh;
        .menu-item{padding: 15px 20px; list-style: none;
            a{color: white;text-decoration: none;}
        }
    }
    .hamburger{height: 30px; width: 40px; display: flex; flex-direction: column; justify-content: center; position: relative; margin: 40px; background-color: rgba(0, 0, 0, 0.377); padding: 10px; border-radius: 7px;
        .bar{height: 4px; width: 100%; background-color: white; border-radius: 20px; z-index: 998;}
        #top{transform: translateY(-6px); transition: all .6s ease;}
        #middle{transition: all .6s ease; color: white;}
        #bottom{transform: translateY(6px); transition: all .6s ease;}
    }

    .open{opacity: 1; left: 0;
        .slide{right: 50px; opacity: 1; z-index: 999; color: white;}
        #top{transform: translateY(6px) rotate(45deg); background-color: white;}
        #middle{opacity: 0; transform: rotate(0deg); background-color: white;}
        #bottom{transform: translateY(-6px) rotate(135deg); background-color: white;}
    }
}
/* Small devices (landscape phones, 576px and up) */
 @media (min-width: 568px) {  
    .header{
        .menu{top: 0;}
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
 @media (min-width: 768px) {  
    .header{
        .menu{top: 0;}
    }
} 

/* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) { 

    .hamburger:hover{height: 30px; width: 40px; display: flex; flex-direction: column; justify-content: center; cursor: pointer;
        #top{transform: translateY(6px) rotate(45deg);}
        #middle{opacity: 0; transform: rotate(0deg);}
        #bottom{transform: translateY(-6px) rotate(-45deg);}
    }

    .menu{
        .menu-item{
            a{font-size: 47px;}
        }
    }

    .open:hover{opacity: 1; left: 0;
        #top{transform: translateY(-6px); transition: all .6s ease;}
        #middle{transition: all .6s ease; opacity: 1; color: white !important;}
        #bottom{transform: translateY(6px); transition: all .6s ease;}
    }

}

 
