
Body{
    padding: 0px;
    margin-top: -37px;
    box-sizing: border-box;
}
.Hero{
    background-image: url(./img/back1.jpeg);height: 90vh;background-repeat: no-repeat;background-size: cover;
}
.inner{
    align-items: center;justify-content: center;text-align: center;
}
.Hero h1{
    color: black;padding-top: 190px;font-size: 60px;font-family: Arial, Helvetica, sans-serif;
}
.inner p{
    font-size: 30px;font-family: Arial, Helvetica, sans-serif;
}
.inner .btn{
    padding: 20px 40px;cursor: pointer;;background-color:rgb(25, 188, 156) ;border:none;border-radius: 3px;color: white;margin-top: 10px;font-size: 20px;
}
.offers{
    align-items: center;justify-content: center;text-align: center;height: 40vh;
}
.offers h2{
    color: black;padding-top: 120px;font-size: 35px;font-family: Arial, Helvetica, sans-serif;
}
.offers p{
    font-size: 17px;font-family: Arial, Helvetica, sans-serif;
}
.offers .button{
    padding: 20px 40px;cursor: pointer;;background-color:rgb(1, 2, 2) ;border:none;border-radius: 3px;color: white;margin-top: 10px;font-size: 20px;
}

.services{
    align-items: center;justify-content: center;text-align: center;background-color:rgb(30, 128, 159) ;    height: 50vh;
    
}
.box{
    display: flex;justify-content: space-around;align-items: center;
}
.services h3{
  font-size: 25px;padding: 20px;font-family: Arial, Helvetica, sans-serif;color: white;
}
.services h4{
  font-size: 18px;padding: 10px;font-family: Arial, Helvetica, sans-serif;color: white;
}
.services h5{
    font-size: 17px;padding: 0px;font-family: Arial, Helvetica, sans-serif;color: white;
  }
.services p{
    font-family: Arial, Helvetica, sans-serif;font-size: 15px;color: white;
}
.download{
    background-image: url(./img/back1.jpeg);height: 60vh;background-repeat: no-repeat;background-size: cover;background-position: bottom;  justify-content: center;align-items: center;text-align: center;
}
.download h3{
    font-size: 45px;padding-top: 90px;font-family: Arial, Helvetica, sans-serif;color: black;margin: 0px;
}
button{
  
    padding: 20px 40px;cursor: pointer;;background-color:rgb(25, 188, 156) ;border:none;border-radius: 3px;color: white;margin-top: 30px;font-size: 20px;
  
}
.portfolio{
    align-items: center;justify-content: center;text-align: center;    margin-bottom: 80px;
}
.portfolio h4{
    font-size: 25px;font-family: Arial, Helvetica, sans-serif;color: rgb(206, 183, 35);
}
.portfolio h5{
    font-size: 35px;font-family: Arial, Helvetica, sans-serif;
}
.blocks{
    position: relative;
}
.inner-portfolio{
    display: flex; justify-content: center;
}
.blocks .pexels{
    width: 60vh;margin: -2px;
}
.boxs h6{
    text-align: left; font-family: Arial, Helvetica, sans-serif;font-size: 15px;color: white;padding: 20px 0px 0px 20px;
}
.boxs p{
   text-align: left; font-family: Arial, Helvetica, sans-serif;font-size: 15px;color: white;padding: 0px 0px 0px 20px;
}
.boxs{
    position: absolute;top: 100px;
}
.buttons{
    align-items: center;justify-content: center;text-align: center;background-color: rgb(30, 128, 159);height: 30vh;font-size: 20px;
}
.buttons h4{
    font-size: 25px;padding-top: 60px;font-family: Arial, Helvetica, sans-serif;color: white;margin: 0px;
}
.buttons .bt{
    padding: 20px 40px;font-family: Arial, Helvetica, sans-serif;font-size: 20px;
}
.buttons .btn{
    background-color: rgb(52, 58, 64);color: white; padding: 20px 40px;font-family: Arial, Helvetica, sans-serif;font-size: 20px;
}
.footer{
    background-image: url(./img/footer.png);height: 70vh;
}
.icons{
    display: flex;align-items: center;justify-content: center;
}
.icon{
    width: 40px;justify-content: center;align-items: center; padding: 30px;background-color: aqua;border: 16px solid aqua;
    border-radius: 100px;
}
.inner-footer {
    padding: 100px 0px;
    text-align: center;
  }
  
 
  
  .inner-footer  img {
    width: 2vw;
    height: 2vw;
    margin: 15px;
    background-color: aqua;padding: 15px;
    border-radius: 30px;
  }